.get-play-popup__container {
  position: fixed;
  z-index: 9999;
  top: 55px;
  left: 20px;
}
.get-play-popup {
  width: 550px;
  height: 400px;
  background: rgba(0, 0, 0, .4);
  backdrop-filter: blur(5px);
  overflow: hidden;
}
.get-play-popup__button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: #666;
  width: 100px;
  height: 25px;
  margin: 50px auto;
  cursor: pointer;
}
.get-play-popup__result {
  display: block;
  resize: none;
  width: 80%;
  margin: 0 auto;
  min-height: 200px;
}
